@font-face {
    font-family: 'Open Sans';
    src: url(./Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}
body {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
    align-items: center;
}
/* estilos correspondientes a heaader */
.cabeza{
    background-color: #fffffff1;
    padding: 0.5rem;
    align-items: center;
}

.navegar { 
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.navigation ul {
    font-variation-settings: 'wght' 600, 'wdth' 90;
    font-size: 1.2rem;
    list-style: none;
}
.navigation ul li {
    display: inline-block;
}

.navigation ul li a {
    display: block;
    text-decoration: none;
    color: dimgray;
    padding: 0.5rem 1rem;
    margin: .2rem .2rem;
    border-radius: 10px;
}

.navigation ul li a:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 81, 255, 0.9);
}

.logo{
    font-variation-settings: 'wght' 700, 'wdth' 95;
    text-decoration: none;
    color: rgb(0, 81, 255);
    font-size: 2.5rem;
    padding-top: 1.5rem ;
}
/* estilos correspondientes a heaader */

.Top {
    display: flex;
}

.info {
    padding: 2rem;
    width: 50%;
}
    .info h1 {
        color: rgb(6, 45, 129);
        font-size: 5rem;
        line-height:5.8rem ;
        margin-bottom: 2rem;
    }
    .info p {
        color: dimgray;
        font-size: 1.5rem;
    }
.imagen{
    background-size: cover;
    width: 50%;
    height: 900px;
    background-image: url("./Images/doctor-mako-YeTNPJQW8Yo-unsplash.jpg");
    background-position: center top;
}
/* botones de la seccion de fotografia principal */
.botonAmarillo { 
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 1rem;
    margin: 1rem 1rem;
}

.amarillo{
    background-color: rgba(255, 197, 7, 0.164);
    border-radius: .5rem;
    padding: .5rem;
    color: rgb(255, 197, 7);
}

.botonReloj {
    background-color: rgba(6, 45, 129, 0.041);
    border-radius: .5rem;
    padding: .5rem;
    color: rgb(6, 45, 129);
}

.calendario {
    position:sticky;
    display: flex;
    width:150%;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.877);
    color: black;
    justify-content:space-around;
    align-items:center;
    border-radius: 10px;
    box-shadow: 1px 1px 50px rgba(9, 75, 161, 0.144);
    padding-left: 2rem;
    padding-right: 2rem;
}
.iconoCalendario{
    padding: .5rem;
    color: rgb(6, 45, 129);

}
.dato{
    padding: 2rem;
    margin: 1;
    width: 15%;
}
    .dato input{
        background-color:rgba(0, 0, 0, 0.0);
        border: none;
        font-weight: 600;
        font-size: 1.7rem ;
        margin-top: .5rem;
        color: dimgray;
    }

    .dato input[type="submit"]{
    background-color:  rgb(0, 81, 255);
    color: aliceblue;
    padding: 1.5rem 4rem;
    font-weight: 500;
    border-radius: 10px;
    }
    .dato input[type="text"]{
    width: 100%;
    color: dimgray;
    }


    .dato label {
        margin-left: -2rem;
        font-weight: 600;
        font-size: 1.5rem;
        color:rgb(6, 45, 129);
    }

.patrocinios {
    width: 100%;
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-between;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
    .patrocinador{
        height: 120px;
        margin: 0.5rem;
    }

.sectionWhy{
    width: 100%;
}
    .sectionWhy h1 {
        color: rgb(6, 45, 129);
        font-size:4rem;
        line-height:5.8rem ;
        margin-bottom: 2rem;
    }
    .description {
        color: dimgray;
        font-size: 2rem;
        width: 45%;
        font-weight: 500;
        padding-bottom: 2rem;
    }

.reasons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem;
}
.tarjeta {
    display: flex;
    width:18%;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.877);
    border-width: .2rem;
    border-color: rgb(240, 241, 255);
    align-items:center;
    border-radius: 15px;
    box-shadow: 1px 1px 50px rgba(9, 75, 161, 0.144);
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 2.5rem;
    padding-bottom:5rem;
}
    .tarjeta h2{
        color: rgb(6, 45, 129);
        font-size:1.8rem;
        font-variation-settings: "wght" 650, 'wdth' 100;
        margin-bottom: .5rem;
    }
    .tarjeta p{
        color: dimgray;
        font-size:1.2rem;
        font-variation-settings: "wght" 550, 'wdth' 100;
        
    }
    .iconoTarjeta {
        align-items: center;
        background-color: rgba(6, 45, 129, 0.041);
        border-radius: .5rem;
        padding: 1rem;
        color: rgb(6, 45, 129);
        width: 80px;
        font-size: 4.5rem;
        text-align: center;
    }
section {
    display: block;
    position: relative;
    margin: 2rem;
}

.imagen2{
    background-size: cover;
    width: 50%;
    height: 1100px;
    background: url("./Images/mujer-2.webp");
    background-position: center top;
}

/* tarjetas desplegables */
input[id^="spoiler"]{
    display: none;
}
input[id^="spoiler"] + label {
    display: block;
    width: 100%;
    margin-top: 2rem ;
    padding:1rem;
    padding-left: 3rem;
    background-color: rgba(255, 255, 255, 0.877);
    color: dimgray;
    text-align: left;
    font-size:1.5rem;
    border-radius: 8px;
    cursor: pointer;
    transition: all .6s;
    border: 1px solid;
    border-color: rgb(222, 240, 255);
}
input[id^="spoiler"]:checked + label {
    background-color: rgba(80, 50, 248, 0.018);
}
.spoiler  {
    justify-items: center;
    padding-left: 5rem; 
    font-weight: 500;
    font-size: 1.5rem;
}
input[id^="spoiler"] ~ .spoiler {
    width: 100%;
    height: 0;
    overflow: hidden;
    opacity: 0;
    margin-top: 0; 
    background-color: rgba(255, 255, 255, 0.34);
    border-radius: 8px;
    transition: all .6s;
    font-size: 1.4rem;
    color: dimgray;
}
input[id^="spoiler"]:checked + label + .spoiler{
    height: auto;
    opacity: 1;
    padding: 10px;
}


.iconoPrep{
    align-items: center;
    background-color: rgba(222, 240, 255, 0.354);
    border-radius: .5rem;
    padding: .5rem;
    color: rgb(6, 45, 129);
    text-align: center;
    margin-right: 2rem;
    border: solid;
    border-width: 1px;
    border-color: rgb(222, 240, 255);
}

input[id^="spoiler"]:checked + .iconoPrep  {
    align-items: center;
    background-color: rgb(202, 40, 91);
    border-radius: .5rem;
    padding: .5rem;
    color: rgba(35, 26, 47, 0.336);
    text-align: center;
    margin-right: 2rem;
    border: solid;
    border-width: 1px;
    border-color: rgb(222, 240, 255);
}

.tarjeta2 {
    display: flex;
    width:35%;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.877);
    border-width: .2rem;
    border-color: rgb(240, 241, 255);
    align-items:center;
    border-radius: 15px;
    box-shadow: 1px 1px 50px rgba(9, 75, 161, 0.144);
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 2rem;
    padding-bottom:1rem;
    margin-bottom: 2rem;
}

    .datosContact{
        width: 50%;
    }

    .tarjeta2 h2{
        color: rgb(6, 45, 129);
        font-size:1.4rem;
        font-variation-settings: "wght" 500, 'wdth' 100;
        margin-bottom: 0rem;
    }
    .tarjeta2 h3{
        margin-top: 0;
        color: dimgray;
        font-size:1.1rem;
        font-variation-settings: "wght" 550, 'wdth' 100;
        
    }
    .iconoTarjeta2 {
        align-items: center;
        background-color: rgba(6, 45, 129, 0.041);
        border-radius: .5rem;
        padding: 1rem;
        color: rgb(6, 45, 129);
        width: 35px;
        font-size: 2.2rem;
        text-align: center;
        margin-right: 1rem;
    }


    .botonContact {
        display: block;
        color: dimgray;
        background-color: rgba(6, 45, 129, 0.041);
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
        border-radius: 10px;
        width: 100%;
        text-align: center;
        justify-items: center;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        font-weight: 600;
    }
    
    .botonContact:hover {
        color: rgb(255, 255, 255);
        background-color: rgba(0, 81, 255, 0.9);
    }

    .imagen3{
        background-color: rgb(65, 92, 92);
        background-size: cover;
        width: 50%;
        height: 1100px;
        background-image: url("./Images/malenurse1.jpg");
        background-position: center top;
    }

.foot{
    height:250px; 
    background-color: rgba(0, 81, 255, 0.055);
    padding: 2rem 5rem;
    display: flex;
}

.vacuna{
    width: 50%;
    height:100px;
    margin-right: .5rem;
    align-items: top;
}
    .vacuna h2{
        font-variation-settings: 'wght' 700, 'wdth' 100;
        text-decoration: none;
        color: rgb(0, 81, 255);
        font-size: 2rem;
        padding-top: 0rem ;
        margin-bottom: 2rem;
    }
    .vacuna p{
        width: 30%;
        font-variation-settings: 'wght' 500, 'wdth' 100;
        text-decoration: none;
        color: dimgray;
        font-size: 1.3rem;
        margin-top: 0rem ;
    }


    .datoFoot{
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
        align-items: top right;
        width: 50%;
    }
    .footerDato{
        width: 25%;
        height:auto;
    }
    .footerDato h2{
        font-variation-settings: 'wght' 700, 'wdth' 100;
        text-decoration: none;
        color: rgb(0, 81, 255);
        font-size: 2rem;
        padding-top: 1rem ;
        margin-bottom: 2rem;
        line-height: 1rem;
    }
    .footerDato p{
        width: 100%;
        font-variation-settings: 'wght' 500, 'wdth' 100;
        text-decoration: none;
        color: dimgray;
        font-size: 1.3rem;
        margin-top: 0rem ;
        line-height: 2.5rem;
    }



